body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: antiquewhite;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%; /*as imagens se expandem ate o tamanho maximo delas*/
    display: block;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap; /*com essa propriedade, quando a tela for bemm pequena e um ficar perto do outro, a parte do menu vai pra baixo do logo*/
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkblue;
}

.menu {
 display: flex;   
}

.menu li {
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background: tomato;
}

/* Css Flexbox*/

.flex {
    display: flex; /*dando essa propriedade para a section que carrega os itens, deixa os itens todos alinhados numa  mesma linha horizontal*/
    flex-wrap: wrap; /*indico com o wrap q se as condicções de tamanho pre estabelecidas nao forem atendidas, ele pode quebrar a linha p ajustar-se a tela*/
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 250px;
    margin: 10px;
}