header {
    width: 600px;
    height: 80px;
    margin: 10px;
    background-color: rgb(18, 162, 240);
    display: flex;
    align-items:flex-end;
    padding: 10px;
}

main {
    width: 400px;
    height: 500px;
    background-color: rgb(54, 201, 46);
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin: 10px;
    padding: 10px;

}

aside {
    width: 171px;
    height: 500px;
    position: fixed;
    right: 203px;
    top: 99px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin: 10px;
    padding: 10px;
    background-color: rgb(239, 86, 63);
    margin-top: 20px;
}