header {
    width: 600px;
    height: 65px;
    margin: 10px;
    background-color: #2891fa;
    display: flex;
    align-items:flex-end;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 755;
    color: azure;
}

main {
    width: 433px;
    height: 364px;
    background-color: #41ae74;
    display: flex;
    align-items:flex-start;
    font-family: sans-serif;
    color: azure;
    font-weight: 755;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
aside {
    width: 136px;
    height: 365px;
    position: fixed;
    right: 1059px;
    top: 85px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    font-family: sans-serif;
    color: azure;
    font-weight: 755;
    margin: 10px;
    padding: 10px;
    background-color: #fa644b;
    margin-top: 20px;
    font-family: sans-serif;
    border-radius: 5px;
}

footer {
    width: 600px;
    height: 65px;
    margin: 10px;
    background-color: rgb(18, 162, 240);
    display: flex;
    align-items:flex-end;
    color: azure;
    font-family: sans-serif;
    font-weight: 755;
    padding: 10px;
    border-radius: 5px;
}

table {
    margin: 10px;
    padding: 25px;
    justify-content: space-between;

}

tr {
}

th {
    /*margin: 25px;*/
    /*margin-bottom: 25px;*/
    width: 45px;
    height: 20px;
    background-color: aquamarine;
    padding: 25px;
    border-radius: 7px;
}
td {
    /*margin: 25px;*/
    padding-left: 15px;
    padding-right: 15px;
}