header {
    width: 600px;
    height: 65px;
    margin: 10px;
    background-color: #2891fa;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 755;
    color: azure;
    box-shadow: inset 0 0 7px 5px #237ed9;
}

main {
    width: 433px;
    height: 364px;
    background-color: #41ae74;
    display: flex;
    align-items: flex-start;
    font-family: sans-serif;
    color: azure;
    font-weight: 755;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 7px 5px #3a9966;
}

aside {
    width: 136px;
    height: 365px;
    position: fixed;
    right: 1059px;
    top: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: sans-serif;
    color: azure;
    font-weight: 755;
    margin: 10px;
    padding: 10px;
    background-color: #fa644b;
    margin-top: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: inset 0 0 7px 5px #e75e46;
}

footer {
    width: 600px;
    height: 65px;
    margin: 10px;
    background-color: rgb(18, 162, 240);
    display: flex;
    align-items: flex-end;
    color: azure;
    font-family: sans-serif;
    font-weight: 755;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 7px 5px #237ed9;
}

table {
    border-spacing: 15px;
    justify-content: space-between;

}

th {
    /*margin: 25px;*/
    /*margin-bottom: 25px;*/
    width: 45px;
    height: 20px;
    background-color: #2f8e3f;
    padding: 25px;
    border-radius: 7px;
    box-shadow: inset 0 0 5px 5px #157624;
}

td {
    /*margin: 25px;*/
    width: 45px;
    height: 20px;
    background-color: rgb(47, 142, 63);
    box-shadow: inset 0 0 7px 5px #157624;
    padding: 25px;
    border-radius: 7px;
}
